@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Space Grotesk', sans-serif;

}

code {
  font-family: 'Space Grotesk', sans-serif;
}


input::placeholder {
  color: white; /* Placeholder text color */
  font-size: 15px;
}

input::-webkit-input-placeholder {
  color: white; /* Placeholder text color for WebKit browsers (Chrome, Safari, etc.) */
  font-size: 15px;
}

input::-moz-placeholder {
  color: white; /* Placeholder text color for Firefox */
  font-size: 15px;
}

input:-ms-input-placeholder {
  color: white; /* Placeholder text color for Microsoft Edge */
  font-size: 15px;
}
